.auth {
    max-width: 400px;
    margin: 80px auto;
    padding: 32px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth h2 {
    text-align: center;
    margin-bottom: 10px;
}

.auth input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;   /* viền xám nhẹ giống login */
    border-radius: 8px;
}

.auth button {
    padding: 12px;
    background: #2563eb;      /* xanh giống Login */
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.auth button:hover {
    background: #1d4ed8;
}

.auth-link {
    text-align: center;
    color: #2563eb;
    cursor: pointer;
    font-weight: 500;
}

.auth-select {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.auth-link:hover {
    text-decoration: underline;
}
